nav.top-bar {
	padding-right:10%;
	padding-left:10%;
    background-color: #f9812b;
}

body.admin-log {
    background-repeat: repeat;
    /*background: linear-gradient(180deg, #FF6C34 0%, #E82C0C 100%);*/
    background-color: #f9812b;
}

.button.large.radius {
    border-radius: 6px;
}

header#homepage{
	/*padding-top: 180px;*/
    padding-bottom: 50px;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
}

header#homepage.homeslide {
    background-image: url("../img/jumbo-bg.png");
    background-position: center top;
}

div#titleNav{
    padding-top: 100px;
    padding-bottom: 20px;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
}

/*div#titleNav.headerNav {
    background-image: url("../img/jumbo-bg.png");
    background-position: center top;
}*/

h1 {
    display: inline;
    line-height: 100%;
    margin-bottom: 0px;
}

h3 {
    display: inline;
    line-height: 100%;
    margin-bottom: 0px;
}

h4 {
    line-height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}

ul.white a:link     {color:white;}
ul.white a:visited  {color:#FFB692;}
ul.white a:hover    {color:#FF975F;}
ul.white a:active   {color:#E81F0C;}

.homepageFeatureOdd {
    background: #fff6ef;
}

.homepageFeatureEven {
    background: #ffffff;
}

.padding-large {
    padding-bottom: 80px;
}

.padding-small {
    padding-bottom: 40px;
}

.padding-text {
    padding-bottom: 30px;
}

.pic#bigLogo {
    background-image: url("../img/biglogo.png");
    background-position: center top;
    background-repeat: no-repeat;
}

.pic#homepageFeatureImgTrain {
    background-image: url("../img/icon-train.png");
    background-position: center top;
    background-repeat: no-repeat;
}

.pic#homepageFeatureImgTest {
    background-image: url("../img/icon-test.png");
    background-position: center top;
    background-repeat: no-repeat;
}

.pic#homepageFeatureImgTrack {
    background-image: url("../img/icon-track.png");
    background-position: center top;
    background-repeat: no-repeat;
}

.pagetitle#titleNav {
    background-image: url("../img/icon-train.png");
    background-position: center top;
}

.pagetitle#titleUser {
    background-image: url("../img/icon-test.png");
    background-position: center top;
}

footer#universal {
    padding-top: 50px;
    padding-bottom: 10px;
    background-repeat: repeat;
    /*background: linear-gradient(180deg, #FF6C34 0%, #E82C0C 100%);*/
    background-color: #f9812b;
}

/*footer#universal.footer {
    background-image: url("C:/wamp/www/ci-revamp/img/device-bg3.png");
    background-position: center top;
}*/

/* Wrapped around .top-bar to contain to grid width */

.fullrow {
    min-width:100%;
}

.white {
    color: #ffffff;
}

.top-bar-section ul li > a {
    display: block;
    width: 100%;
    color: white;
    padding: 12px 0 12px 0;
    padding-left: 15px;
    font-size: 0.8125em;
    font-weight: bold;
    background: rgba(34, 34, 34, 0);
}
.top-bar-section li a:not(.button) {
    padding: 0 15px;
    line-height: 45px;
    background: rgba(34, 34, 34, 0);
}

span#forgetInfo {
    text-align: center;
}

span.success {
  background: #29ad61;
}

span.error {
  text-align: center;
}

.hidden {
    display:none;
}

.invisible {
    visibility:hidden;
}