/*default version*/
@font-face {
    font-family: 'Gotham';
    src: 
        url('../fonts/Gotham-Book.otf') 
        format('opentype');
}
/*bold version*/
@font-face {
    font-family: 'Gotham';
    src: 
        url('../fonts/Gotham-Bold.otf') 
        format('opentype');
    font-weight: bold;
}

body {
    background-color:#2c3e50;
/*background: linear-gradient(45deg, #eed9a6 0%, #eca048 100%);*/
}

.radius_bottom {
    -webkit-border-radius: 3px;
    border-radius: 0 0 3px 3px; }

nav.top-bar {
    padding-right:10%;
    padding-left:10%;
    background-color: #5a99cc;
}

footer#universal {
    padding-top: 50px;
    padding-bottom: 10px;
    background-repeat: repeat;
    /*background: linear-gradient(180deg, #FF6C34 0%, #E82C0C 100%);*/
    background-color: #5a99cc;
}

div.panel.article {
    background-color:#2c3e50;
}

.section-container.accordion#panel-nav > .section > .title {
    background-color:#fff !important;
}

.section-container.accordion#panel-nav > section.active > .title {
    background-color: #53d992 !important;
    color: #fff !important;
}

.section-container.accordion#panel-user > .section > .title {
    background-color:#fff !important;
}

.section-container.accordion#panel-user > section.active > .title {
    background-color: #f6b841 !important;
    color: #fff !important;
}

.section-container.accordion#panel-nav > section.active > .title > a {
    color: #fff !important;
}

.section-container.accordion#panel-user > section.active > .title > a {
    color: #fff !important;
}

/*section.section p.title a {
    padding:0px !important;
}*/

body.admin-log {
    background-repeat: repeat;
    /*background: linear-gradient(180deg, #FF6C34 0%, #E82C0C 100%);*/
    background-color: #e67e22;
}

.button.large.radius {
    border-radius: 6px;
}

header#homepage{
    /*padding-top: 180px;*/
    padding-bottom: 35px;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
}

header#homepage.homeslide {
    background-image: url("../img/jumbo-bg.png");
    background-position: center top;
}

div#titleNav{
    padding-top: 100px;
    padding-bottom: 20px;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
}

/*div#titleNav.headerNav {
    background-image: url("../img/jumbo-bg.png");
    background-position: center top;
}*/

.icon{
    padding-left:16px;
    padding-right:16px;
    padding-top:7px;
    padding-bottom:5px;
    background-image: url("../img/icon-standby.png");
    background-position: center top;
    background-repeat: none;
}
a:link.icon{
    background-image: url("../img/icon-standby.png");
}
a:hover.icon{
    background-image: url("../img/icon-hover.png");
}
a:visited.icon{
    background-image: url("../img/icon-standby.png");
}
a:active.icon{
    background-image: url("../img/icon-active.png");
}

.sub {
    font-size: 22px;   
}
.description {
    font-size: 20px;
}
.answer {
    font-size: 22px;
    text-align: justify;
}
.justify {
    text-align: justify;
}

h1 {
    display: inline;
    line-height: 100%;
    margin-bottom: 0px;
}

h3 {
    display: inline;
    line-height: 100%;
    margin-bottom: 0px;
}

h4 {
    line-height: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}

tr .correct, label .correct, ul.pagination li a.correct {

    background:#27ae60 !important;
    color:#fff !important;
}

tr .wrong, label .wrong, ul.pagination li a.wrong {
    background-color:#e74c3c !important;
    color:#fff !important;
}

.footer a:link    {color:#fff;}
.footer a:visited {color:#fff;}
.footer a:hover   {color:#bb8cd2;}
.footer a:active  {color:#bb8cd2;}

.button-group.radius > *:nth-child(2) {
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px; }
.button-group.radius > *:nth-child(4) {
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; }

.homepageFeatureOdd {
    background: #fff6ef;
}

.homepageFeatureEven {
    background: #ffffff;
}

.padding-large {
    padding-bottom: 80px;
}

.padding-small {
    padding-bottom: 40px;
}

.padding-text {
    padding-bottom: 30px;
}

.pic#bigLogo {
    background-image: url("../img/biglogo.png");
    background-position: center top;
    background-repeat: no-repeat;
}

.pic#homepageFeatureImgTrain {
    background-image: url("../img/icon-train.png");
    background-position: center top;
    background-repeat: no-repeat;
}

.pic#homepageFeatureImgTest {
    background-image: url("../img/icon-test.png");
    background-position: center top;
    background-repeat: no-repeat;
}

.pic#homepageFeatureImgTrack {
    background-image: url("../img/icon-track.png");
    background-position: center top;
    background-repeat: no-repeat;
}
.pic#contactImgMail {
    background-image: url("../img/mail.png");
    background-position: center top;
    background-repeat: no-repeat;
}
.pic#contactImgFb {
    background-image: url("../img/fb.png");
    background-position: center top;
    background-repeat: no-repeat;
}
.pic#contactImgTwitter {
    background-image: url("../img/twitter.png");
    background-position: center top;
    background-repeat: no-repeat;
}
.pic#contactImgMobile {
    background-image: url("../img/mobile.png");
    background-position: center top;
    background-repeat: no-repeat;
}

.pagetitle#titleNav {
    background-image: url("../img/icon-train.png");
    background-position: center top;
}

.pagetitle#titleUser {
    background-image: url("../img/icon-test.png");
    background-position: center top;
}

/*footer#universal.footer {
    background-image: url("C:/wamp/www/ci-revamp/img/device-bg3.png");
    background-position: center top;
}*/

/* Wrapped around .top-bar to contain to grid width */

.fullrow {
    min-width:100%;
}

.white {
    color: #ffffff !important;
}

.orange {
    color: #eca048 !important;
}

.top-bar-section ul li > a {
    display: block;
    width: 100%;
    color: white;
    padding: 12px 0 12px 0;
    padding-left: 15px;
    font-size: 0.8125em;
    font-weight: bold;
    background: rgba(34, 34, 34, 0);
}
.top-bar-section li a:not(.button) {
    padding: 0 15px;
    line-height: 45px;
    background: rgba(34, 34, 34, 0);
}

span#forgetInfo {
    text-align: center;
}

span.success {
  background: #29ad61;
}

span.error {
  text-align: center;
}

ul.pagination li.answered a{
  background: #f9bd36;
}

.hidden {
    display:none;
}

ul.hidden {
    display:none;
}

#pseudotime.hidden {
    display:none;
}

.invisible {
    visibility:hidden;
}