@charset "utf-8";

body {
	background: linear-gradient(90deg, #cee879 0%,#ffffff 25%,#ffffff 75%,#cee879 100%);
	background-color: #ffffff;
}

.bs-docs-nav {
	margin-left: 10%;
	margin-right: 10%;
	background-color: #cee879;
}

.bs-docs-nav .navbar-brand {
	color:#3c734f;
	max-width: 30%;
}

.bs-docs-nav .navbar-brand:hover {
	color:#ffffff;
	max-width: 30%;
}

.bs-docs-nav .navbar-nav > li > a {
  color: #3c734f;
}
.bs-docs-nav .navbar-nav > li > a:hover {
  color: #fff;
  background-color: #3c734f;
}
.bs-docs-nav .navbar-nav .active a {
  color: #fff;
  background-color: #3c734f;
}

.carousel-inner {
	margin-left: 0%;
	margin-right: 0%;

}
.carousel-caption {
	top: 45%;
	bottom:30%;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.1);
	text-align: center;
	padding-right: 10%;
	padding-left: 10%;
	padding-top: 0px;
	margin-top: -5px;
}

.carousel-control {
	position: absolute;
	top: 40%;
	left: 15px;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	font-size: 60px;
	font-weight: 100;
	line-height: 23px;
	color: #ffffff;
	text-align: center;
	background: #222222;
	border: 3px solid #ffffff;
	-webkit-border-radius: 23px;
	-moz-border-radius: 23px;
	border-radius: 23px;
	opacity: 0.5;
	filter: alpha(opacity=50);
}

.carousel-control.right{
	right: 15px;
	left: auto;
}